@font-face{
    font-family:"Intro Black";
    src:url("../fonts/c04e62d5-137b-4f5f-8e45-960b6a9e1b5d.eot?#iefix");
    src:url("../fonts/c04e62d5-137b-4f5f-8e45-960b6a9e1b5d.eot?#iefix") format("eot"),url("../fonts/02ae35d4-7a5b-462b-9ca4-dc81dffe264e.woff2") format("woff2"),url("../fonts/23c3adb7-b6d0-430d-8ea3-930449d51154.woff") format("woff"),url("../fonts/d5ece4f5-6b2d-4169-9bd1-18d2cafb360d.ttf") format("truetype"),url("../fonts/7b8a40f5-9705-4c5d-a5bb-9dbdfd85da31.svg#7b8a40f5-9705-4c5d-a5bb-9dbdfd85da31") format("svg");
}
