$font-family-sans-serif: "nimbus-sans", "Helvetica Neue", Arial, sans-serif;

$yellow: #F7A835;
$grey: #494949;
$lightgrey: #F0F1F1;
$maskgrey: #001722;

$min_width: 400;
$max_width: 2200;
$min_font: 70;
$max_font: 150;

$overlap: -6rem;
$section-gap: 6rem;

$brand-primary: $grey;

$btn-primary-color:              $grey;
$btn-primary-bg:                 white;
$btn-primary-border:             $grey;
$btn-border-radius: 0;
